<html><head><link href="/creations/scribbles/styles.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>
</head><body><h1 id="introduction">Introduction</h1>
<p>sfvbnels;amcnkhvgj fdvalksHLIJC:OZdnkjgbkvylruvaglhfis;jox
k.njbvhkdsughlicj;o</p>
<p>What if I <strong>have bolded text</strong></p>
<p>What if I have Inline Code</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb1-1"><a aria-hidden="true" href="#cb1-1" tabindex="-1"></a><span class="co">"What if i have a code block"</span></span>
<span id="cb1-2"><a aria-hidden="true" href="#cb1-2" tabindex="-1"></a></span>
<span id="cb1-3"><a aria-hidden="true" href="#cb1-3" tabindex="-1"></a>variable <span class="op">=</span> <span class="dv">2</span></span></code></pre></div>
<h2 id="new-header">New header</h2>
<p>Some new content!</p>
<p>And more!</p>
<p>And even <strong>more!!!!!!!!!!!!!!!!!!!!!</strong></p>
<div class="cell" data-execution_count="1">
<div class="sourceCode" id="cb2"><pre class="sourceCode python cell-code"><code class="sourceCode python"><span id="cb2-1"><a aria-hidden="true" href="#cb2-1" tabindex="-1"></a><span class="im">import</span> matplotlib.pyplot <span class="im">as</span> plt</span>
<span id="cb2-2"><a aria-hidden="true" href="#cb2-2" tabindex="-1"></a></span>
<span id="cb2-3"><a aria-hidden="true" href="#cb2-3" tabindex="-1"></a>plt.plot([<span class="dv">1</span>,<span class="dv">2</span>,<span class="dv">3</span>,<span class="dv">4</span>,<span class="dv">5</span>])</span>
<span id="cb2-4"><a aria-hidden="true" href="#cb2-4" tabindex="-1"></a>plt.title(<span class="st">'AND MOOOOOORRRREEEEEEE!!!!!!!!!!!'</span>, fontsize<span class="op">=</span><span class="dv">40</span>)<span class="op">;</span></span></code></pre></div>
<div class="cell-output cell-output-display">
<p><img src="/creations/scribbles/static/index_files/figure-json/cell-2-output-1.png"/></p>
</div>
</div>
<p>…and more</p>
<h2 id="code-block">Code block</h2>
<div class="cell" data-execution_count="2">
<div class="cell-output cell-output-display" data-execution_count="2">
<div>

<table border="1" class="dataframe">
<thead>
<tr>
<th></th>
<th>0</th>
<th>1</th>
<th>2</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>1</td>
<td>2</td>
<td>3</td>
</tr>
<tr>
<th>1</th>
<td>3</td>
<td>2</td>
<td>1</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div>
<h1>fasthtml H1!!</h1>
<h2>And an h2!!</h2>
</div>
<script>console.log('Converted to script!!!!')
</script>
<h3 id="viz">Viz</h3>
<div class="cell" data-execution_count="4">
<div class="sourceCode" id="cb3"><pre class="sourceCode python cell-code"><code class="sourceCode python"><span id="cb3-1"><a aria-hidden="true" href="#cb3-1" tabindex="-1"></a><span class="im">import</span> matplotlib.pyplot <span class="im">as</span> plt</span>
<span id="cb3-2"><a aria-hidden="true" href="#cb3-2" tabindex="-1"></a></span>
<span id="cb3-3"><a aria-hidden="true" href="#cb3-3" tabindex="-1"></a>plt.plot([<span class="dv">1</span>,<span class="dv">2</span>,<span class="dv">3</span>])</span></code></pre></div>
<div class="cell-output cell-output-display">
<p><img src="/creations/scribbles/static/index_files/figure-json/cell-5-output-1.png"/></p>
</div>
</div>
<div class="columns">
<div class="column">
<p>This is in column 1</p>
</div><div class="column">
<p>This is in column 2</p>
</div>
</div>
<h2>
An h2 tag
</h2>
<script>
    console.log(5)
    </script>
</body></html>